* {
    text-align: center;
}
body{
    width: 300px;
    height: 450px;
}
#mainBodyDiv{
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    width: 250px;
    height: 400px;
}
#timerLocation{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    border: 1px solid;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    background-color:#92c3fa;
}